*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cascadia code';
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}
.container{
    display: grid;
    height: auto;
    width: 400px;
    /* background: #867171; */
    text-align: center;
}
.my-time-cont{
    display: flex;
    height: 80px;
    width: 400px;
    background: rgb(239, 239, 234);
    place-content: flex-start;
    padding: 10px;
    flex-wrap: wrap;
}

.time{
    font-size: 30px;
    margin-left: 50px;
}
.date{
    font-size: 20px;
}
.world-time-cont{
    margin-top: 20px;
}
.world{
    display: flex;
    height: 80px;
    width: 400px;
    background: rgb(239, 239, 234);
    place-content: flex-start;
    padding: 10px;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
}
